:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

/*Generale*/
.myimg {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/*NAVBAR*/
.navbar-brand {
  color: var(--bs-danger);
}
.nav-link {
  color: var(--bs-warning);
}

/*NAVCOMP*/
.navcomp {
  position: absolute;
  bottom: 0;
  background-color: transparent;
}
