:root {
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

/*Generale*/
.myimg {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

/*NAVBAR*/
.navbar-brand {
  color: var(--bs-danger);
}
.nav-link {
  color: var(--bs-warning);
}

/*NAVCOMP*/
.navcomp {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
}


/*HOME*/
.home .card-img-top{
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/*CALENDARIO*/
.bottone{
  border-radius: 50%;
}